<!DOCTYPE html>
<html>

<head>
	
  <title>Login</title>
  <link rel="stylesheet" type="text/css" href="/static/css/Login.css">
  <script src="/static/css/script1.js"></script>

</head>

<body>

  <div class="body"></div>
		<div class="grad"></div>
		<div class="header">
			<div>Book<span>MyShow</span></div>
		</div>
		<div class="login">
            <form action="{{ url_for("SignUp",username=username,password=password) }}" method="post">
				<input type="password" name="pass" placeholder="Re-Enter Password" required><br><br>
				<input type="text" name="f_name" placeholder="First Name" required><br><br>
				<input type="text" name="l_name" placeholder="Last Name" required><br><br>
				<input type="text" name="gender" placeholder="Gender F/M" required><br><br>
				<input type="text" name="phone" placeholder="Phone Number" required><br><br>
				<input type="text" name="mail" placeholder="E-mail ID" required><br><br>
				<input type="submit" name="cred" value="SignUp">
            </form>
		</div>
  <script src='/static/css/script2.js'></script>

</body>

</html>
